div{
    background-color: purple;
    color: white;
}

/* use # for selecting a id */
#quote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

/* use .  for selecting a class */
.list{
    color: white;
    background: springgreen;
}

span#author{
    text-transform: uppercase;
}

/* select the only paragraph which is just after the h3 tag */
h3 + p{
    background: black;
    color: white;
}

